@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  background: #1c2237;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
}

.nav-item:hover {
  padding-top: 0;
  border-bottom: 4px solid #f00946;
}

.nav-item {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: x-large;
  padding: 0.5rem 1rem;
  height: 100%;
}

.intro-section {
  background-color: cornflowerblue;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-section {
  background-color: grey;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  background-color: grey;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  background: linear-gradient(45deg, #0660e9 0%, #276afb 100%);
  width: 250px;
  height: 400px;
  text-decoration: none;
  border-radius: 4px;
  margin: 2rem;
}

.card:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
  color: #1c2237;
}

.info-section {
  background-color: cornflowerblue;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
